@{
    ViewBag.Title = "Monitoreo";
}

@model Web.Models.DashboardModel

<div class="row">
    <div class="large-12 columns">
        <small>
            <span id="spanTimeServer" />
        </small>
    </div>
</div>
@foreach (var item in Model.Servers)
{
    <div class="row">
        <div class="large-6 columns">
            <h4>@item.Name</h4>
            <div id="@(item.Name)_ph" style="height: @(item.View.Height)px; width:auto">
            </div>
        </div>
        <div class="large-6 columns">
            <table id="@(item.Name)_tc">
                <thead>
                    <tr>
                        <th width="110">
                            <small>
                                Counter
                            </small>
                        </th>
                        <th>
                            <small>
                                Scl
                            </small>
                        </th>
                        <th>
                            <small>
                                Ave
                            </small>
                        </th>
                        <th>
                            <small>
                                Min
                            </small>
                        </th>
                        <th>
                            <small>
                                Cur
                            </small>
                        </th>
                        <th>
                            <small>
                                Max
                            </small>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <p id="@(item.Name)_error">
            </p>
        </div>
    </div>
}
<div class="row">
    <div class="large-12 columns">
        <span style="color: Red" id="spanMessage"></span>
    </div>
</div>
